.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .card img {
    width: 20%; /* Make sure the image fills the container */
    height: auto; /* Maintain aspect ratio */
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .card-content p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .card-content button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .card-content button:hover {
    background-color: #0056b3;
  }
  