.contact-info{
    background-color: #532403;
    color: white;
}

.contact-container {
    text-align: center;
    color: #532403;
  }

  .Button {
    background-color: #8B4513; /* Brown color */
    color: #ffffff; /* White color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Button:hover {
    background-color: #654321; /* Darker brown color on hover */
  }
  

.h3 {
    text-align: center;
    color: white; /* Adjust the color as needed */
    font-size: 24px; /* Adjust the font size as needed */
    margin-bottom: 20px; /* Adjust the margin as needed */
  }
  

.logo {
    width: 50px;
    height: 50px;
  }

  .contact-link{
    color: white;
  }
  
  .contact-detail{
    width: 100%;
  }

  .contact-detail td {
    text-align: center;
  }
  
  .contact-detail img {
    display: block;
    margin: 0 auto;
  }

  .size{
    width: 25%;
  }

